
ul{
   float: right;
   
}
ul li{
    text-align: center;
	display: inline-table;

	padding-left: 15px;
    padding-right: 15px;
	border-radius: 5px;
	text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
    background-color: #e6f2ff;
	


}
ul li:hover{
    background-color: rgb(172, 154, 55);
    color: #ff9999;
        }
        li{
            text-decoration: none;
          text-align: center;
          margin:0px;
        }

        .active {
           
            color:   		  #ff6666;
            text-align: center;
            display: inline-table;
            margin: 5px;
            
            border-radius: 5px;
            text-decoration: none;
          }
          
ul li a{
    text-decoration: none;
        color:  #95b1ce;
    
}
a{
   text-decoration: none;

    
}




table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}


dd{
    display: inline-table;
    text-align: center;
    text-decoration: none;
    margin-left :50px;
    margin-right: 50px;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
ol dd a{
    text-decoration: none;
    color:  #363e47;
    text-align: center;
    text-transform: uppercase;
    background-color:  #a2aebb;
    border-radius: 5px;
    padding: 1px;
 
 
}
.diri{
    text-align: center;
}









          





